
body{
    background-color: #F3F5FC;
}
   
.btn-iniciar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    position: absolute;
    width: 317px;
    height: 114px;
    left: 30rem;
    top: 30rem;

    background: #0A3871;
    color: #FFFFFF;
    border-radius: 24px;
    font-size: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px; 
    justify-content: center;
    align-items: center;
}

.canvas{
    margin-left: 3rem;
    width: 1024px;
    height: 800px;
    background: transparent;
  ;
}




